h1, h2 {
    color: #333;
    text-align: center;
}
   
input, button {
    display: block;
    margin: 10px auto;
}
   
p {
    text-align: center;
}

.wrapper {
    padding: 20px 0;
    height: 150px;
}